@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto Slab');
                    
body {
font-family: 'Roboto Slab';          
color: #495057; 
text-align: justify;
}

h1 {
font-family: 'Roboto';
font-weight: 500;
line-height: 1.1;
color: #2FA4E7;
}

h2, h3, h4 {
font-family: 'Roboto';
}

a {
color: #DD5600;
}

blockquote {
font-size: 14px;